

body {
    overflow: hidden;
    background-color: beige;
}

#boardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 98vh;
}

#board, .playerBanner, .opponentBanner{
    border: 1px solid black;
    max-width: 700px;
    width: calc(100vw - 40px);
}

.playerBanner, .opponentBanner{
    display: flex;
    align-items: center;
    height: 10vh;
    background-color: #c5a076;
    border-radius: 10px;
}

.playerBanner {
    justify-content: space-between;
}

.playerPhoto {
    padding: 10px;
    width: 8vh;
    height: 8vh;
    border-radius: 100%;
}

.profile {
    display: flex;
    align-items: center;
}

#buttons {
    padding-right: 2vw;
}
#buttons button {
    border: 1px solid black;
    max-width: 120px;
    cursor: pointer;
    width: 15vw;
    height: 5vh;
    border-radius: 10%;
    font-weight: 600;
    background-color: beige;
    color: #c5a076;
}

#history {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    border-radius: 2%;
    height: 70vh;
    background-color: #c5a076;
}

th {
    border: 1px solid black;
    color: white;
    background-color: #c5a076;
}

#history table {
    background-color: beige;
    border: 1px solid black;
    border-radius: 2%;
    width: 13vw;
    text-align: center;
}
th {}

#history h4 {
    color: beige;
    font-size: 0.9vw;
    height: 10px;
}

@media (max-width: 1500px) {
    #game {
        flex-direction: column;
    }
    #history {
        display: none;
    }
    #board, .playerBanner, .opponentBanner{
        max-width: 700px;
        width: 100vw;
    }
}
#game {
    gap: 10px;
    height: 97vh;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
}

#checkmate {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    max-width: 600px;
    width: calc(100vw - 100px);
    height: 15vh;

    background-color: #c5a076;
    border-color: black;
    border-width: 2px;
    border: solid;
    border-radius: 2%;
}

#checkmate {
    font-size: 5vh;
    color: beige;
}

#checkmate button {
    cursor: pointer;
    border: none;
    font-size: 2.5vh;
    width: 25vw;
    height: 5vh;
    background-color: beige;
    color: #c5a076;
}

